@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    transition: background .5s ease-in;
}

main {
    display: flex;
    justify-content: space-between;
    max-width: 768px;
    min-height: 100vh;
    height: 100%;
    padding: 16px;
    margin: 0 auto;
    font-family: 'Special Elite', sans-serif;
}

.game {
    display: grid;
    justify-content: center;
    text-align: center;
    grid-gap: 64px;
    height: fit-content;
}

.verdict {
    background-color: #efefef;
    padding: 16px;
}

.choice {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

#person,
#computer {
    position: relative;
    min-width: min(40vw, 150px);
    height: 200px;
}

.previous-choice td:nth-child(2),
#computer {
    scale: -1 1;
}

#person img,
#computer img {
    position: absolute;
    inset: 0;
    width: 100%;
    transition: opacity .5s ease-in;
}

[data-visible="false"] {
    opacity: 0;
}

.options {
    display: flex;
    justify-content: space-evenly;
}

.option {
    border: none;
    padding: 16px;
    font-size: 30px;
    border-radius: 21px;
}

.history {
    position: relative;
    height: calc(100vh - 32px);
    background-color: #efefef;
}

.history::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 2;
    pointer-events: none;
    background: rgba(239, 239, 239, 0);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 1) 100%);
}

.history-container {
    height: 100%;
    overflow-x: auto;
    position: relative;
}

.history-title {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: #efefef;
    z-index: 2;
    box-shadow: 0px 2px 5px #00000050;
}

.reset-history {
    background-color: red;
    border: none;
    padding: 8px;
}

.no-data__paragraph {
    padding: 16px;
}

.previous-scores {
    margin-top: 0px;
    position: relative;
}

.history-title,
.previous-scores {
    width: 100%;
}

.scores {
    border-bottom: 1px solid #ddd;
}

#person-score,
#computer-score {
    font-size: 32px;
    background-color: #dddddd;
    padding: 0 8px;
}

.previous-choice {
    border-bottom: 1px solid #ddd;
}

.scores,
.table-title,
.previous-choice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 16px;
}

.previous-choice img {
    width: 32px;
}

.color {
    width: 32px;
    height: 32px;
    border: 2px solid #efefef;
    border-radius: 50%;
}

.green .color {
    background-color: #008000;
}

.brown .color {
    background-color: #a52a2a;
}

.orange .color {
    background-color: #ffa500;
}

@media screen and (max-width: 600px) {
    main {
        flex-direction: column;
    }

    .game,
    .history {
        padding: 32px 0;
    }

}